<div class="produtos">
    <h1>Produtos</h1>
</div>

<div>
    <button (click)="new()">Novo</button>
</div>
<table>
    <thead>
        <tr>
            <th>ID</th>
            <th>Marca</th>
            <th>Nome</th>
            <th>Preço Custo</th>
            <th>Preço Venda</th>
            <th>Categoria</th>
            <th>Estoque</th>
        </tr>
    </thead>
    <tbody>
        @for (produto of produtos; track $index) {
        <tr>
            <td>{{produto.id}}</td>
            <td>{{produto.marca}}</td>
            <td>{{produto.nome}}</td>
            <td>{{produto.precoCusto}}</td>
            <td>{{produto.precoVenda}}</td>
            <td>{{produto.categoria}}</td>
            <td>{{produto.estoque}}</td>
            <td>
                <button (click)="edit(produto)">Alterar</button>
                <button (click)="delete(produto)">Excluir</button>
            </td>
        </tr>
        }
    </tbody>
</table>