<div class="row justify-content-center">
    <div class="col-md-8 col-lg-6">
        <div class="card shadow">
            <div class="card-body p-4">
                <h2 class="h4 mb-4 text-center">Cadastro de Produto</h2>

                <form class="row g-3">
                    <div class="col-md-8">
                        <label class="form-label fw-semibold">Nome do Produto</label>
                        <input type="text" class="form-control" [(ngModel)]="produto.nome" name="nome">
                    </div>

                    <div class="col-md-4">
                        <label class="form-label fw-semibold">Marca</label>
                        <input type="text" class="form-control" [(ngModel)]="produto.marca" name="marca">
                    </div>
                    <div class="col-md-12">
                        <label class="form-label fw-semibold">Categoria</label>
                        <input type="text" class="form-control" [(ngModel)]="produto.categoria" name="categoria">
                    </div>

                    <div class="col-md-6">
                        <label class="form-label fw-semibold">Preço de Custo</label>
                        <div class="input-group">
                            <span class="input-group-text">R$</span>
                            <input type="number" class="form-control" [(ngModel)]="produto.precoCusto"
                                name="precoCusto">
                        </div>
                    </div>

                    <div class="col-md-6">
                        <label class="form-label fw-semibold">Preço de Venda</label>
                        <div class="input-group">
                            <span class="input-group-text">R$</span>
                            <input type="number" class="form-control" [(ngModel)]="produto.precoVenda"
                                name="precoVenda">
                        </div>
                    </div>

                    <div class="col-md-12">
                        <label class="form-label fw-semibold">Estoque Inicial</label>
                        <input type="number" class="form-control" [(ngModel)]="produto.estoque" name="estoque">
                    </div>

                    <div class="col-12 mt-4 d-flex gap-2">
                        <button type="button" class="btn btn-primary w-100 py-2" (click)="submit()">Cadastrar
                            Produto</button>
                        <button type="button" class="btn btn-light border w-100 py-2"
                            (click)="return()">Cancelar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>