<h1>Novo produto</h1>
<form style="display: flex; flex-direction: column; width: 12.5%; gap: 8px;">
    <label for="nome">Nome: </label>
    <input type="text" name="nome" id="nome" [(ngModel)]="produto.nome">

    <label for="marca">Marca: </label>
    <input type="text" name="marca" id="marca" [(ngModel)]="produto.marca">

    <label for="precoCusto">Preço de custo: </label>
    <input type="number" name="precoCusto" id="precoCusto" [(ngModel)]="produto.precoCusto">

    <label for="precoVenda">Preço de venda: </label>
    <input type="number" name="precoVenda" id="precoVenda" [(ngModel)]="produto.precoVenda">

    <label for="categoria">Categoria: </label>
    <input type="text" name="categoria" id="categoria" [(ngModel)]="produto.categoria">

    <label for="estoque">Quantidade: </label>
    <input type="number" name="estoque" id="estoque" [(ngModel)]="produto.estoque">

    <button type="button" (click)="submit()">Cadastrar</button>
    <button (click)="return()">Voltar</button>

</form>